/* https://upload.wikimedia.org/wikipedia/commons/9/9a/South_Manhatten_from_Staten_Island_Ferry_3_%28New_York%29_%2843429224350%29.jpg */
/* copyright avilliagehero  under https://creativecommons.org/licenses/by-sa/2.0/*/
/* see https://commons.wikimedia.org/wiki/File:South_Manhatten_from_Staten_Island_Ferry_3_(New_York)_(43429224350).jpg */
/* Team memebers picture taken from American Psycho copyright 2000 Lionsgate Films. Used without permission. */
/* Pierce and Pierce and the team mebers names is the creation of Bret Easton Ellis from the novel American Psycho copyright 1991 alos used without permission.*/

:root{
    font-size:16pt;
}

body{
    /* background-image:linear-gradient(white,white,ivory); */
    background-color:hsl(23, 75%, 97%);
    font-family: Balthazar, 'Times New roman', serif;
    color: rgb(44, 44, 44);
    padding:1rem;
    padding-bottom: 100px;
    height:auto;
    font-size:120%;
    /* put everything in a center column */
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

/* centeed column */
.centredColumn{
    max-width:1500px;
    background-color: snow;
}
/* general formatting */

div{
    border-radius: 2px;
}
h2{
    color: maroon;
    text-align: center;
    font-size:1.5rem;
}

h3{
    font-weight:bold;
    text-align: center;
}


p{
    padding-bottom:1rem;
    text-align: justify;
}

/* @media only screen and (max-width: 450px){
    h2{

        font-size:3rem;
    }
    
    h3 p{
        font-size:2rem;
    }
} */
header{
    display:inline-flex;
    position:sticky;

    justify-content: center;
    height:6rem;

}

header .imgcontainer{

    height: 6rem;
    width:auto;
    display:flex;
    
    position: absolute;


}
header .imgcontainer img{
    opacity:20%;
    height:100%;
}
header .companytitle{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-variant: small-caps;
    text-align: center;
}

header h1{
    font-size:2rem;

}


nav{
   
    display: flex;
    flex-wrap: wrap;
    float:right;
    padding-top:2rem;
    margin-right: 1rem;
}

nav li{
    list-style: none;
    display:inline-flex;
    padding:0.5rem;
    margin:0.5rem;
    background-color: white;
    
}


nav a{
    font-size: 1.2rem;
}
/* tablet veiw */
@media only screen and (max-width: 900px) and (min-width:431px){
    header{
        margin-bottom:10px;
    }
    nav{
       
      /*   display:block; */
        float: none;
        padding-top:0;
        align-items: space-between;
        
    }
}
/* mobile veiw */
@media only screen and (max-width:525px){
    nav{
        
      /*   display:block; */
        float: none;
        padding-top:0;
        flex-direction: column;
        
    }
    nav a{
        display:flex;
        padding:1.5rem;
        
        text-align: center;
    }
    nav li{
        border:maroon 1px solid;
        display: block;

        border-radius: 1rem;
        text-align: center;
        box-shadow: 5px 5px 5px maroon;
        margin-top: 5px;
        margin-bottom: 10px;
    }
    nav li.li_after:active{
        box-shadow: none;

        margin-top: 15px;
        margin-bottom: 5px;
    }
    nav li.li_first:active{
        box-shadow: none;

        margin-top: 10px;
        margin-bottom: 5px;
    }
}
nav li a:hover{
    color:maroon;
}
main {
    display: flex;
    flex-direction: column;
}
.aboutus {
    display: flex;
    flex-direction: column;   
    /* border:red 1px solid;  */
    background-image:url("https://upload.wikimedia.org/wikipedia/commons/9/9a/South_Manhatten_from_Staten_Island_Ferry_3_%28New_York%29_%2843429224350%29.jpg");
    background-position: bottom;
    background-size:cover;
    background-repeat: no-repeat;
    
}

.aboutus-text{
    margin-top:2rem;
    margin-bottom:12rem;
    align-self: center;
    position:relative;
    float:center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:75%;
    background-color: snow;
    opacity:90%;
    padding: 0 1rem;
    border-radius: 0.2rem;
}

.services-text-container{
    display:flex;
/*     border:red 1px solid; */
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.services-text{
    background-color: white;
    padding:0.5rem;
    margin:0.5rem;
    width:18rem;
}

.services-text h3{
    font-weight: bold;
    text-align: center;
}

.theteam-container{
    display:flex;
/*     border:red 1px solid; */
    align-content: center;
    justify-content: center;

    flex-wrap: wrap;
}

.theteam-member{
    display:flex;
    flex-direction: column;
    padding:0.5rem;
    margin:0.5rem;
    justify-content: top;
    max-width:300px;
    background-color: white;
}

.theteam-member img{
    display:flex;
    flex-direction: column;
    align-content: center;
    padding:1rem;
    max-width:300px;
    height:auto;
    flex-shrink: 1;
    border-radius: 8%;
}
@media only screen and (max-width: 600px){

  

    .theteam-member img{
        align-self: flex-start;

    }

}

footer{
    max-width:1500px;
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: gray;
    padding: 1rem 0rem;
}

footer p{
    padding:0;
    text-align: center;
    color: snow;
}